.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ce1f3a;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
  }

.farma {
    position: fixed;
    left: 15%;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.farma:hover {
    transform: scale(1.1);
}

.botaoredi {
    display: flex;
    gap: 15px;
    margin-left: 1400px;
}



